<!DOCTYPE html>
<html>
  <head>
    <style type ="text/css"></style>
    <link rel ="stylesheet" media="all" href="application.css" date-turbolinks-track="recoad">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <main>
      <% flash.each do |message_type, message| %>
        <div class = "flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
